#promotion-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
}
#promotion-seleciton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #ff002c;
    border-radius: 7px;
    width: 72%;
    height: 18%;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 22%;
    height: 88%;
    border-radius: 100%;
    margin: 0px 1.5%;
}
.logo img {
    width: 70%;
    height: 70%;
}